*{
background-color: #c5d5c5;
font-family: sans-serif;


}

li, a, button{
font-family: sans-serif;
font-weight: 50;
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

header{

display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 20%;
background-color: #9fa9a3;
position: absolute;
top: 0;
left: 0;
width: 118.9vh;

}

.head{
  background-color: #9fa9a3;
}

.header{


  background-color: #9fa9a3;
}


.navh1{
  background-color: #9fa9a3;
font-size: 2vh;
}

.navh1:hover{
color: #d5e1d6;
}

.logo{
  background-color: #9fa9a3;
cursor: pointer;
width: 5vh;
height: 3vh;

}

.nav_links{
background-color: #9fa9a3;
list-style: none;
}

.nav_links li{

display: inline-block;
padding: 0px 20px;
}

.nav_links li a{
transition: all 0.3s ease 0s;

}



.nav_links li a:hover{
color: #c5d5c5;
}

.cta{
background-color: #9fa9a3;
}
.login{

padding: 9px 25px;
background-color: rgba(101, 110, 105, 1);
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
}

.login:hover{
      background-color: rgba(133, 148, 140, 1);
}

.container{
left: 20%;
top: 28%;
position: absolute;
width: 35vh;
height: 25vh;


box-shadow: 10vh 10vh 10vh rgba(10, 0, 0, 10%);
border-radius: 25px;
margin-top: 20px;
width: 55vh;
height: 30vh;
object-fit: cover;


}

.hello{

font-size: 3vh;
color: white;
}

.msg{
font-size: 2vh;
font-family:sans-serif;
}

.register{

position: absolute;
left: 50%;
top: 20%;
width: 40vh;
height: 48vh;
background: #9fa9a3;
box-shadow: 10px 10px 5px
rgba(10, 0, 0, 10%);
border-radius: 25px;

margin-top: 20px;

}

.register b{
font-size: 15px;
color: black;
background-color: #9fa9a3;
}



.register h1{
width: 200px;
background-color: #9fa9a3;
position: relative;
top: 0%;
left: 32%;

}

.register p{
background-color: #9fa9a3;
width: 310px;
position: relative;

left: 6.5%;
}

.register hr{
width: 180px;

border: 1px solid white;
}

.register label{
position: relative;
left: 5%;
}

.register input{
background-color: #f0f0f0;
margin-top: 2px;
position: relative;
border-radius: 7px;
width: 37vh;
height: 2vh;
padding: 3px;
font-size: 15px;
border: 1px solid gray;
outline: none;
}
.register input placeholder{
left: 0%;
top: 0%;
position: absolute;
}

.register a{
background-color: #9fa9a3;
}

.register .ques{
position:relative;
left: 2%;

background-color: #9fa9a3;
width: 100px;
}

.registerbtn{
cursor: pointer;
font-weight: bold;
font-size: 20px;
color: black;
border: 1px solid white;
border-radius: 8px;
left: 1%;
top: 50%;
position: relative;
width: 350%;
height: 3.4vh;

}

.registerbtn:hover{
background-color: #e4eee4;

}

.button-area span{
  display: none;
}

.signuptext{
font-weight: bold;
font-size: 20px;
color: black;
}

.signuptext:hover{
  background-color: #e4eee4;
}






.register .containersignin{
background-color: #9fa9a3;
left: 0%;
position: absolute;
}

.containersignin{
top: 85%;
background-color: #9fa9a3;
}

.containersignin .signin{

}
footer{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: #9fa9a3;
height: auto;
width: 100vw;
font-family: "Open Sans";
padding-top: 6px;
color: white;
}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content h3{
font-size: 1.8rem;
font-weight: 400;
text-transform: capitalize;
line-height: 0px;

}
.footer-content p{
max-width: 500px;
margin: 2px auto;
line-height: 15px;
font-size: 14px;
}
.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 0 3rem 0;
}

.socials li{
margin: 15 35px;
}
.socials a{
text-decoration: none;
color: white;
}

.socials a i{
font-size: 1.1rem;
transition: color .4s ease;
}
.socials a:hover{
color: aqua;
}

.footer-bottom{

width: 100vw;
padding: 1px 0;
text-align: center;
}
.footer-bottom p{
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;
}
.footer-bottom span{
text-transform: uppercase;
opacity: .4;
font-weight: 200;

}
